# Example environment variables for local Docker Compose
# Copy this file to .env and customize as needed

DATABASE_NAME=couponservice
DATABASE_URL=postgresql://postgres:5432/${DATABASE_NAME}
DATABASE_USERNAME=<set user name>
DATABASE_PASSWORD=<set user password>
